body
{
	font-family: segoe ui, helvetica, arial, sans-serif;
	margin-top: auto;
	margin-left: 20%;
	margin-right: 30%;
	background-color: #0079D8;
	color: white;
}

a:link
{
	color: LightBlue;
}

a:visited
{
	color: LightBlue;
}

a:hover
{
	color: Turquoise;
}

a:active
{
	color: MidnightBlue;
}
